<div class="row header">
	<div class="medium-12 columns">
		<h4>Planets</h4>
	</div>
</div>

<div class="medium-6 medium-offset-3 columns end">
	<div ng-controller="PlanetCtrl" class="callout primary">
		<!-- <ul class="medium-block-grid-2">
			<li ng-repeat="planet in planets">{{planet.name}} -- {{planet.population}}
				<ul>
					<li ng-repeat="resident in planet.residents">
						<a ui-sref="resident({id: resident.id})">Resident {{resident.id}}</a>
					</li>
				</ul>
			</li>
		</ul> -->
	</div>
</div>
