<div ui-scref="planets">Back to Planets</div>
<div class="row header">
	<div class="medium-12 columns">
		<h4>Resident Details</h4>
	</div>
</div>
<div ng-controller="ResidentCtrl" class="medium-4 medium-offset-4 end columns">
	<div>
		<table class="residentDetails">
			<tbody>
				<tr>
					<td class="text-right">Name</td>
					<td>{{character.name}}</td>
				</tr>
				<tr>
					<td class="text-right">Gender</td>
					<td>{{character.gender}}</td>
				</tr>
				<tr>
					<td class="text-right">Year of Birth</td>
					<td>{{character.birth_year}}</td>
				</tr>
				<tr>
					<td class="text-right">Height</td>
					<td>{{character.height}}</td>
				</tr>
				<tr>
					<td class="text-right">Hair Color</td>
					<td>{{character.hair_color}}</td>
				</tr>
				<tr>
					<td class="text-right">Eye Color</td>
					<td>{{character.eye_color}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>